*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    flex: 0 0 95%;
   }
.screen{
    width:100%;
    font-size:5rem;
    color:white;
    background-color: rgb(34, 33, 33);
    border: none;
    padding:2rem;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

button{
    flex:0 0 25%;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.25rem 0;
    transition: all 2s ease;
   }
button:hover{
    background: rgb(150, 150, 165);
   }
.symbolButton{
    background:darkgoldenrod;
}
.numberbutton{
    background: rgb(15, 130, 207);
}
.button, .equalsTo, .clearButton{
    font-size: 4rem;
}
.equalsTo{
    background: darkseagreen;
}
.clearButton{
    background: hotpink;
}